<div class="bottom-info">
  <div class="create-first">
    <div class="top">
      <div class="header">CREATE YOUR FIRST GALLERY NOW.</div>
      <div class="free"><span class="underline">Free</span> forever. Upgrade when you need to.</div>
      <div class="get-started-guest"><%= link_to 'Get Started', new_user_url, { method: "get", class: "guest-login-button"} %></div>
    </div>
  </div>
  <div class="info">
    <div class="information">
    <a href="http://oneforsafety.io/">oneForSafety</a> is an awesome photo management application!
    </div>

    <div class="copyright">One for Safety</div>
  </div>
</div>
