<div class="bottom-info">
  <div class="create-first">
    <div class="top">
      <div class="header">CREATE YOUR FIRST GALLERY NOW.</div>
      <div class="free"><span class="underline">Free</span> forever. Upgrade when you need to.</div>
      <div class="get-started-guest"><%= link_to 'Get Started', new_user_url, { method: "get", class: "guest-login-button"} %></div>
    </div>
  </div>
  <div class="info">
    <div class="information">
      Twinkieset is created by me, <a href="http://www.karenling.net/">Karen Ling</a>, and this is my final project for <a href="http://www.appacademy.io/">App Academy</a>. This project showcases my knowledge of <i>Ruby on Rails</i> and <i>Backbone</i> primarily. Twinkieset is intended to be inspired by <a href="http://pixieset.com">Pixieset</a>. All images and content belong to their respective owners.
      <div class="github-link">
        <a href="https://github.com/karenling/project-proposal">
          <i class="fa fa-github fa-5"></i>
        </a>
      </div>
    </div>

    <div class="copyright">Created by <a href="http://www.karenling.net/">Karen Ling</a>. Twinkieset is a clone of <a href="http://pixieset.com">Pixieset</a>.</div>
  </div>
</div>
