<div class="user-item">
  <a href="/users#<%= user.id %>" target="_new">
    <img src="<%= user.screenshot %>" width="300px" class="screenshot">
    <div class="user-name"><%= user.business_name %></div>
  </a>
</div>
