<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="user[email]" value="erich@erichmcvey.com">
  <input type="hidden" name="user[password]" value="password">
  <input type="submit" class="guest-login-button" value="Guest Login">
</form>
