<div class="container-fluid splash">
  <nav>
    <a href="/"><img src="https://next.oneforsafety.com/apps/files_sharing/publicpreview/cxBjoyJ8EMQms27?x=3360&y=1040&a=true&file=ofs.png" height="32px" class="pull-left"></a>

    <ul class="options pull-right">
      <li class="root-link current">/root</li>

      <li class="install-link">/install</li>

      <li class="pricing-link">/pricing</li>

      <% if logged_in? %>
        <li class="open-dash">
          <a href="/admin">Open oneForSafety</a>
        </li>
      <% else %>
        <li class="open-login">
          <%= link_to 'Login', new_session_url %>
        </li>
        <li class="open-signup">
          <%= link_to 'Sign Up', new_user_url %>
        </li>
      <% end %>
    </ul>
  </nav>

  <div class="row">
    <div class="col-sm-12">
      <h1 class="landing-title">oneForSafety.io</h1>
      <h2 class="tag-line">Creator, meet cloud. All your drives are belong to us. Cull, collaborate, host, and share.</h2>
      <div class="get-started-guest"><%= link_to 'Guest Login', new_session_url(demo: "true"), { method: "get", class: "guest-login-button", id: "guest-login-button"} %></div>
      <div class="check-out-demo">Claim your free 10GB or try a guest account.</div>
    </div>
    <div class="down-arrow moved">
      <div class="left-side"></div><div class="right-side"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    setInterval(function () {
      $('.down-arrow').toggleClass('moved');
    }, 400);

    $(".down-arrow").click(function() {
      $('html, body').animate({
        scrollTop: $('.design-examples').offset().top - 25
      }, 2000);
    });
  })
</script>
