<div class="splash-navbar">
  <nav>
    <a href="/"><img src="https://next.oneforsafety.com/apps/files_sharing/publicpreview/cxBjoyJ8EMQms27?x=3360&y=1040&a=true&file=ofs.png" height="16px" class="pull-left"></a>
    <ul class="options pull-right">
      <li class="welcome-link current">welcome</li>
      <li class="design-link">Design</li>
      <li class="examples-link">Examples</li>
      <li class="login">
        <a href="/session/new">Login</a>
      </li>
      <li>
        <%= button_to "Get Started", new_user_url, {method: 'get', class: 'get-started'} %>
      </li>
    </ul>
  </nav>
</div>
