<div class="splash-navbar">
  <nav>
    <a href="/"><img src="https://next.oneforsafety.com/apps/files_sharing/publicpreview/saAkWoSWHCZY2wQ?x=2282&y=858&a=true&file=ofs-gold-glow.png" height="16px" class="pull-left"></a>
    <ul class="options pull-right">
      <li class="welcome-link current">Welcome</li>
      <li class="design-link">Design</li>
      <li class="examples-link">Examples</li>
      <li class="login">
        <a href="/session/new">Login</a>
      </li>
      <li>
        <%= button_to "Get Started", new_user_url, {method: 'get', class: 'get-started'} %>
      </li>
    </ul>
  </nav>
</div>
