Hello, <%= @user.business_name %>
===============================================


You have requested the password recovery site oneForSafety. To receive a new password, go to: <a href="<%= recovery_users_url(activkey: @user.activation_token) %>"><%= recovery_users_url(activkey: @user.activation_token) %></a>
