<div class="prev-image"><i class="fa fa-angle-left"></i></div>
<div class="next-image"><i class="fa fa-angle-right"></i></div>
<div class="close-gallery-modal">&#x2715;</div>
<div class="active-image">
  <img src="<%= photo.escape('medium_url') %>">
</div>
