<nav></nav>
<div class="container index-main">
  <div class="albums-index-header col-xs-12">
    Collections
    <span class="create-new-album"><i class="fa fa-plus"></i> New Collection</i></span>
  </div>
  <div class="albums col-xs-12"></div>
</div>
