<nav></nav>
<div class="container-fluid fluid main-container">
  <div class="row album-show-container">
    <div class="album-show-sidebar"></div>
    <div class="album-show-items"></div>
  </div>
</div>
