<div class="form-container delete-album-form">
  <button title="Close (Esc)" type="button" class="close-view">×</button>

  <div class="title"><%= album.escape('title') %></div>

  Are you sure you want to delete this album?

  <div class="center-buttons">
    <button class="delete-button delete-album-confirm">Delete</button><button class="cancel-button cancel-new-album">Cancel</button>
  </div>
</div>
