<div class="form-container delete-photos-form">
  <button title="Close (Esc)" type="button" class="close-view">×</button>

  <div class="title">Are you sure you want to delete these photos?</div>

  <div class="center-buttons">
    <button class="delete-button delete-photos-confirm">Delete</button><button class="cancel-button cancel-delete-photos">Cancel</button>
  </div>
</div>
