<div class="form-container share-collection">
  <button title="Close (Esc)" type="button" class="close-view">×</button>

  <div class="title">Share Info</div>

  <div class="form-group">
    <label for="collection-url">Collection URL</label>
    <input id="collection-url"
      class="form-control" type="text"
      name="collection[email]"
      value="<%= window.location.origin %>/users#<%= CURRENT_USER.id %>/collection/<%= album.id %>"
      readonly>
    <div class="input-info">
      This is the unique URL to the collection you have published. Share this with your client.
    </div>

    <label for="collection-password">Collection Password</label>
    <input id="collection-password"
      class="form-control" type="text"
      name="collection[password]"
      value="<%= album.escape('password') %>"
      readonly>
    <div class="input-info">
      Your collection is password protected for all guests. Keep in mind that the password is case-sensitive.
    </div>
  </div>
</div>
