<div class="form-container delete-subalbum-form">
  <button title="Close (Esc)" type="button" class="close-view">×</button>

  <div class="title"><%= subalbum.escape('title') %></div>

  Are you sure you want to delete this subalbum?

  <div class="center-buttons">
    <button class="delete-button delete-subalbum-confirm">Delete</button><button class="cancel-button cancel-delete-subalbum">Cancel</button>
  </div>
</div>
