<div class="form-container user-password-form">
  <button title="Close (Esc)" type="button" class="close-view">×</button>

  <div class="title">Change Password</div>

  <form class="form-group">

    <div class="errors"></div>
    
    <label for="user-old_password">Old Password</label>
    <input id="user-old_password"
      class="form-control" type="password"
      name="user[old_password]"
      placeholder="Enter your old password">

    <label for="user-new_password">New Password</label>
    <input id="user-new_password"
      class="form-control" type="password"
      name="user[new_password]"
      placeholder="Minimum 6 characters">

    <label for="user-password">Retype New Password</label>
    <input id="user-password"
      class="form-control" type="password"
      name="user[password]">


    <div class="save-cancel group">
      <input type="submit" class="submit-button submit-password" value="Save">
      <button class="cancel-button cancel-password">Cancel</button>
    </div>
  </form>
</div>
